<div class="mt-4">
    <form method="post" >
  <div class="form-group">
    <label for="searchInput">Keywords</label>
    <input type="text" name = "q" class="form-control" id="searchInput" aria-describedby="emailHelp" placeholder="Nhap tu khoa">

  
  </div>

    <div class="form-group">
        <label for="searchInput">gender</label>
        <select name = "gender" class="form-control" id="gender-input" >
            <option value="">-- Gender--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
      


  
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>